.App .dice-button {
    width: 86px;
    height: 92px;
    padding: 0px;
}
.dice-result {
    color: var(--fore-color);
}

.pentagon {
    position: relative;
    top: 30px;
    height: 38px;
    width: 50px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: var(--back-color) transparent;
}
.pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 43px 35px;
    border-style: solid;
    border-color: transparent transparent var(--back-color);
}
.pentagon .value {
    position: relative;
    top: -60px;
}
.pentagon .value.small-face {
    font-size: 18px;
}
.pentagon .value.large-face {
    font-size: 30px;
}

.triangle {
    padding: 0px;
    width: 0;
    height: 0;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 72px solid var(--back-color);
    border-radius: 6px;
}
.triangle .value {
    left: -8px;
    position: relative;
    line-height: 10px;
    top: 23px;
}
.triangle .value.large-face {
    top: 34px;
    left: -13px;
    font-size: 24px;
}

.square {
    width: 24px;
    height: 24px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
    background: var(--back-color);
    padding: 24px;
    border-radius: 6px;
}
.square .value {
    top: -12px;
    position: relative;
    line-height: 10px;
}
.square .value.small-face {
    font-size: 18px;
}
.square .value.large-face {
    font-size: 32px;
    top: 4px;
    left: -6px;
}
